* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

.greeting-text{
    flex-direction: column;
    font-family: 'Sacramento';
    font-size:40px;
    text-align: center;

}

a {
    cursor: pointer;
    color:black;
}
p{
    margin-bottom:8px;
}


.center{
    display:flex;
    justify-content:center;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rounded-border{
    border-radius: 5%;
    margin-bottom:20px;
}

#bridge-pic{
    width:300px;
}
.details{
    font-family: 'Roboto Mono';
    flex-direction: column;
    margin-bottom:20px;
    text-align: center;
    padding-right: 20px;
    padding-left:20px;
    max-width: 650px;
}
.top-view{
    padding-top:300px;
    background: url(img/sky.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.about-backdrop{
    background-color: #92BCEA;
}
.project-page{
    background-color: #D9F0FF;
}

.project {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.sizing-projects{
    max-width:400px;
    align-content: center;
}

.hello {
    margin-top:0;
    margin-bottom:0;
}
.title{
    padding-top:100px;
    padding-bottom:50px;
    font-family: 'Sacramento';
    font-size:40px;
}
.contact-backdrop{
    background-color: #AFB3F7;
}
.contact-me{

    padding-bottom: 60px;
}
.contact-me a {
    margin-left: 10px;
    margin-right: 10px;
}
.icon{
    width:50px;
    height:50px;
}
.row {
    justify-content: center;
}

.scrolling {
    scroll-behavior: smooth;
    margin-left:5px;
    margin-right:5px;
}

.item-align {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono';
    font-size:16px;
    margin:20px 35px 20px 35px;
}

.quick-info{
    font-size:25px;
}
.icon-spacing{
    margin:0 5px 30px 5px;
    color:gray;
}
.para-fix{
    margin-right:67px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Sacramento';
  }
  
  li a:hover {
    background-color: #111;
  }
  .project{
      justify-content: center;
      flex-direction:column;
  }

  .pic-me{
      display:flex;
      justify-content: center;
  }
@media only screen and (min-width: 600px) {
   .about-content, .contact, .guide-links, .item-align .detail{
        flex-direction: row;
        align-items: center;
    }
    .project{
        flex-direction:row;
    }
  }